<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meteor Help - Ratings and reviews for every Meteor JS course, post, article, tutorial, and video out there!</title>
</head>

<body></body>

<template name="layout">
  {{> header}}

  <div class="alerts">
    {{> bootstrapAlerts}}
  </div>

  <div class="container-fluid content-area">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        {{> sidebar}}
      </div>
      <div class="col-xs-12 col-sm-10">
        <p class="visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        {{> yield}}
      </div>
    </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</template>