<template name="footer">
  <div id="footer" class="text-center">
   <a href="mailto: roshan@meteorhelp.com" target="_blank">Contact Meteor Help</a>

   <a href="https://twitter.com/share?url=http://meteorhelp.com&via=meteorhelp&text=Meteor%20Help"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="Share on Twitter">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://meteorhelp.com&t=Meteor%20Help"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="Share on Facebook">
       <i class="fa fa-facebook-square"></i>
    </a>
    <a href="https://plus.google.com/share?url=http://meteorhelp.com"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
       target="_blank" title="Share on Google+">
       <i class="fa fa-google-plus-square"></i>
    </a>
  </div>
</template>