<template name="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/images/meteor_help_v1.png" alt="Meteor Help"></a>
      <div class="visible-xs btn btn-default">
        {{#if currentUser}}
          <a class="logout-button">Logout</a>
        {{else}}
          <a class="login-github-button">Login <i class="fa fa-github"></i></a>
        {{/if}}
      </div>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <div class="visible-xs col-xs-2">
          <button type="button" id="sidebar-toggle" class="btn btn-default {{#if sidebar}}active{{/if}}" data-toggle="offcanvas">
            <span></span>
          </button>
        </div>
        <div class="col-xs-10 col-sm-12">
          <input type="text" class="form-control search-input" placeholder="Search">
        </div>
        <div class="clearfix"></div>
      </div>
    </form>

    <ul class="hidden-xs nav navbar-nav navbar-right">
      <li>
        {{#if currentUser}}
          <a class="logout-button">Logout {{currentUser.profile.name}}</a>
        {{else}}
          <a class="login-github-button">Login with Github <i class="fa fa-github"></i></a>
        {{/if}}
      </li>
    </ul>
  </div>
</template>