<template name="home">
  {{#if showHomeMessage}}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel home-message">
          <div class="close">&times;</div>
          <h1>
            Welcome! Meteor Help is a catalog of content from the best in the Meteor and Javascript community
          </h1>
          <h3>
            <span class="primary-text">New to Meteor?</span><br>Browse around to find content that fit your learning goals!
          </h3>
          <h3>
            <span class="primary-text">Already a Meteor Developer?</span><br>Submit content, write reviews, and rate the resources found here!
          </h3>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row">
    {{> sort}}
  </div>

  <div class="row">
    {{#each links}}
      {{> link}}
    {{/each}}
  </div>
</template>