<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="cleartype" content="on">
  <!-- android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
  <meta name="apple-mobile-web-app-title" content="Meteor Help">
  <title>Meteor Help - A catalog of content from the best in the Meteor and Javascript community</title>
  <meta name="description" content="Ratings and reviews for every Meteor JS course, blog, book, wiki, article, tutorial, and video out there!">
  <meta name="keywords" content="meteor, help, javascript, meteorjs, mongo, mongodb, nodejs, node, tutorial, article, video, book, wiki, blog, news, question, questions, course, list, slides">
</head>

<body></body>

<template name="layout">
  {{> header}}

  <div class="alerts">
    {{> bootstrapAlerts}}
  </div>

  <div class="container-fluid content-area">
    <div class="row row-offcanvas row-offcanvas-left {{#if sidebar}}active{{/if}}">
      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        {{> sidebar}}
      </div>
      <div class="col-xs-12 col-sm-10">
        {{> yield}}
      </div>
    </div>
  </div>

  {{> footer}}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</template>