<template name="link">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <a class="link-a" href="/l/{{slug}}">
      <div class="panel panel-default link">
        {{#if commentsCount}}
          <div class="comments">{{commentsCount}} <i class="fa fa-comments"></i></div>
        {{/if}}
        <h3>{{name}}</h3>
        <div class="tags">
          {{#each tags}}
            {{> UI.dynamic template=this}}
          {{/each}}
        </div>
        <div class="rank-row">{{> stars rating}}</div>
        <div class="rank-row">{{> difficulty difficulty}}</div>
      </div>
    </a>
  </div>
</template>