<template name="linkPage">
  <div class="panel link-page">
    <div class="row">
      <div class="col-xs-12 col-sm-9 link-name">
        <h1><a href="{{url}}" target="_blank">{{name}}</a></h1>
      </div>
      <div class="col-x2-12 col-sm-3 link-image">
        {{#if linkImage this}}
          <img src="{{linkImage this}}">
        {{/if}}
      </div>
      <div class="col-sm-12 link-url">
        <br>
        {{#each types}}
          <span class="label label-info">{{this}}</span>
        {{/each}}
        <h3><a href="{{url}}" target="_blank">{{url}}</a></h3>
      </div>
      <div class="col-sm-12 share-link">
        <h2>
          <a href="https://twitter.com/share?url={{encodedUrl}}&via=meteorhelp&text={{encodedBlurb}}"
             onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
             target="_blank" title="Share on Twitter">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{encodedUrl}}&t={{encodedName}}"
             onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
             target="_blank" title="Share on Facebook">
             <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://plus.google.com/share?url={{encodedUrl}}"
             onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
             target="_blank" title="Share on Google+">
             <i class="fa fa-google-plus-square"></i>
          </a>
        </h2>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="col-xs-12 col-sm-6 top-space">
        {{> stars rating}}<br>
        {{rating.count}} people rated

        {{#if currentUser}}
          <div class="ranking-form top-space">
            {{#if userRating}}
              {{> ratingUpdateForm this}}
            {{else}}
              {{> ratingForm this}}
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div class="col-xs-12 col-sm-6 top-space">
        {{> difficulty difficulty}}<br>
        {{difficulty.count}} people ranked difficulty

        {{#if currentUser}}
          <div class="ranking-form top-space">
            {{#if userDifficulty}}
              {{> difficultyUpdateForm this}}
            {{else}}
              {{> difficultyForm this}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row top-space bottom-space">
      <div class="col-xs-12">
        {{#each tags}}
          {{> UI.dynamic template=this}}
        {{/each}}
      </div>
    </div>
    {{#if description}}
      <div class="row top-space bottom-space">
        <div class="col-sm-12">
          <h3>Description</h3>
          <p class="lead">
            {{description}}
          </p>
        </div>
      </div>
    {{/if}}
    {{#if currentUser}}
      {{#unless userComments.count}}
        <div class="row top-space">
          <div class="col-sm-12 col-md-8">
            {{> commentForm this}}
          </div>
        </div>
      {{/unless}}
    {{/if}}
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h3>Reviews</h3>
        {{#if comments.count}}
          {{#each comments}}
            {{> comment}}
          {{/each}}
        {{else}}
          <em>No reviews yet</em>
        {{/if}}
      </div>
    </div>

    <div class="row top-space">
      <div class="col-sm-12">
        {{#if linkOwner}}
          <a href="/edit/{{slug}}" class="btn btn-info">Edit your Content</a>
        {{else}}
          {{#if currentUser}}
            {{#if claimedLinkOwner}}
              <em>An admin will review your ownership request.</em>
            {{else}}
              <a class="btn btn-info claim-owner">Claim this Content</a>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>