<template name="linkPage">
  <div class="panel link-page">
    <div class="row">
      <div class="col-sm-12 link-name">
        {{#if images.profile}}
          <img class="img-responsive" src="{{images.profile}}">
        {{/if}}
        <h1><a href="{{url}}" target="_blank">{{name}}</a></h1>
        <br>
        {{#each types}}
          <span class="label label-primary">{{this}}</span>
        {{/each}}
      </div>
      <div class="col-sm-12 link-url">
        <h3><a href="{{url}}" target="_blank">{{url}}</a></h3>
      </div>
    </div>
    <div class="row bottom-space">
      <div class="col-xs-12 col-sm-6 top-space">
        {{> stars rating}}<br>
        {{rating.count}} people rated

        {{#if currentUser}}
          <div class="ranking-form top-space">
            {{#if userRating}}
              {{> ratingUpdateForm this}}
            {{else}}
              {{> ratingForm this}}
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div class="col-xs-12 col-sm-6 top-space">
        {{> difficulty difficulty}}<br>
        {{difficulty.count}} people ranked difficulty

        {{#if currentUser}}
          <div class="ranking-form top-space">
            {{#if userDifficulty}}
              {{> difficultyUpdateForm this}}
            {{else}}
              {{> difficultyForm this}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row top-space bottom-space">
      <div class="col-xs-12">
        {{#each tags}}
          {{> UI.dynamic template=this}}
        {{/each}}
      </div>
    </div>
    <div class="row top-space bottom-space">
      <div class="col-sm-12">
        <h3>Description</h3>
        <p class="lead">
          {{description}}
        </p>
      </div>
    </div>
    {{#if currentUser}}
      {{#unless userComments.count}}
        <div class="row top-space">
          <div class="col-sm-12 col-md-8">
            {{> commentForm this}}
          </div>
        </div>
      {{/unless}}
    {{/if}}
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h3>Reviews</h3>
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </div>
    </div>
  </div>
</template>