<template name="newLink">
  <div class="row">
    <div class="col-sm-12 panel">
      <br>
      {{#autoForm collection="Links" id="newLinkForm" type="method" meteormethod="insertLink"}}
        <fieldset>
          <legend>Add Content</legend>
          {{> afQuickField name='name'}}
          {{> afQuickField name='url'}}
          {{> afQuickField name='description' rows=4}}

          <label>Types</label>
          {{> afFieldInput name='types' noselect=true options=typesOptions}}

          <br>
          <label>Tags</label>
          {{> afFieldInput name='tags' noselect=true options=tagsOptions}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Add</button>
      {{/autoForm}}
      <br>
    </div>
  </div>
</template>