<template name="sidebar">
  <div class="panel panel-info">
    <div class="list-group">
      {{#if currentUser}}
        <a class="list-group-item logout-button">Logout {{currentUser.profile.name}}</a>
      {{else}}
        <a class="list-group-item login-github-button">Login with Github</a>
      {{/if}}
      <a class="list-group-item {{route ''}}" href="/">Home</a>
      <a class="list-group-item {{route 'article'}}" href="/t/article">Articles</a>
      <a class="list-group-item {{route 'course'}}" href="/t/course">Courses</a>
      <a class="list-group-item {{route 'book'}}" href="/t/book">Books</a>
      <a class="list-group-item {{route 'blog'}}" href="/t/blog">Blogs</a>
      <a class="list-group-item {{route 'tutorial'}}" href="/t/tutorial">Tutorials</a>
      <a class="list-group-item {{route 'video'}}" href="/t/video">Videos</a>
      <a class="list-group-item {{route 'news'}}" href="/t/news">News</a>
      <a class="list-group-item {{route 'questions'}}" href="/t/questions">Q and A</a>
      <a class="list-group-item {{route 'list'}}" href="/t/list">Lists</a>
      <a class="list-group-item {{route 'wiki'}}" href="/t/wiki">Wikis</a>
      <a class="list-group-item {{route 'slides'}}" href="/t/slides">Slides</a>
      <a class="list-group-item {{route 'new'}}" href="/new">+ Add Content</a>
    </div>
  </div>
</template>