<template name="sort">
  <div class="col-xs-12 bottom-space">
    <strong>Sort By</strong>
    &nbsp;&nbsp;
    <div style="display: inline-block;">
      <a class="sort-by btn btn-sm {{#if sortedBy 'rating'}}btn-info{{else}}btn-default{{/if}}" data-sort="rating">Rating</a>
      <a class="sort-by btn btn-sm {{#if sortedBy 'difficulty'}}btn-info{{else}}btn-default{{/if}}" data-sort="difficulty">Difficulty</a>
    </div>
    &nbsp;&nbsp;
    <div style="display: inline-block;">
      <a class="order-by btn btn-sm {{#if orderedBy 'asc'}}btn-info{{else}}btn-default{{/if}}" data-sort="asc"><i class="fa fa-chevron-up"></i></a>
      <a class="order-by btn btn-sm {{#if orderedBy 'desc'}}btn-info{{else}}btn-default{{/if}}" data-sort="desc"><i class="fa fa-chevron-down"></i></a>
    </div>
  </div>
</template>