<template name="paid-content">
  <div class="tag text-center">
    <i class="fa fa-usd"></i><br>
    <span class="text">Paid Content</span>
  </div>
</template>

<template name="video-content">
  <div class="tag text-center">
    <i class="fa fa-video-camera"></i><br>
    <span class="text">Video Content</span>
  </div>
</template>

<template name="audio-content">
  <div class="tag text-center">
    <i class="fa fa-headphones"></i><br>
    <span class="text">Audio Content</span>
  </div>
</template>

<template name="email-list">
  <div class="tag text-center">
    <i class="fa fa-envelope"></i><br>
    <span class="text">Email List</span>
  </div>
</template>