@import "variables.lessimport";

a.link-a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.link {
  padding: 10px;
  cursor: pointer;

  h3 {
    color: @brand-primary;
  }

  .tag {
    font-size: 18px;
    padding: 0 5px;
    float: right;
  }

  .rank-row {
    border-top: 1px solid @gray-lighter;
    padding: 5px 0;
  }
}